search_engine.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" 
     xmlns:tns="http://www.html.it/php_ws_soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" 
     targetNamespace="http://www.html.it/php_ws_soap">
	<types>
		<xs:schema targetNamespace="http://www.html.it/php_ws_soap">
			<xs:element name="name" type="xs:string"/>
			<xs:element name="frase" type="xs:string"/>
            <xs:element name="nome" type="xs:string"/>
			<xs:element name="risposta" type="xs:string"/>
			<xs:element name="username" type="xs:string"/>
			<xs:element name="usernamerisposta" type="xs:string"/>
		</xs:schema>
	</types>
	<message name="sayHello">
		<part name="name" type="xs:string"/>
	</message>
	<message name="sayHelloResponse">
		<part name="frase" type="xs:string"/>
	</message>
        
        <message name="sayCiao">
		<part name="nome" type="xs:string"/>
	</message>
	<message name="sayCiaoResponse">
		<part name="risposta" type="xs:string"/>
	</message>

	<portType name="WebServiceTest">
		<operation name="sayHello">
			<input message="tns:sayHello"/>
			<output message="tns:sayHelloResponse"/>
		</operation>
                <operation name="getPropriAsset">
			<input message="tns:sayCiao"/>
			<output message="tns:sayCiaoResponse"/>
		</operation>
	</portType>
        
	<binding name="WebServiceSOAPBinding" type="tns:WebServiceTest">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" type="rpc"/>
		<operation name="sayHello">
                        <!-- Localizzazione del service deployato sul server. -->
			<soap:operation 
                             soapAction="http://demo.service-tech.org/form/server.php/sayHello"/>
			<input>
				<soap:body use="encoded" 
                                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                                     namespace="http://www.html.it/php_ws_soap"/>
			</input>
			<output>
				<soap:body use="encoded" 
                                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                                     namespace="http://www.html.it/php_ws_soap"/>
			</output>
		</operation>

                <operation name="getPropriAsset">
                        <!-- Localizzazione del service deployato sul server. -->
			<soap:operation 
                             soapAction="http://demo.service-tech.org/form/server.php/getPropriAsset"/>
			<input>
				<soap:body use="encoded" 
                                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                                     namespace="http://www.html.it/php_ws_soap"/>
			</input>
			<output>
				<soap:body use="encoded" 
                                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                                     namespace="http://www.html.it/php_ws_soap"/>
			</output>
		</operation>

	</binding>
	<service name="SayHello">
		<port name="SayHi" binding="tns:WebServiceSOAPBinding">
			<soap:address location="http://demo.service-tech.org/form/server.php"/>
		</port>
	</service>
        </definitions>